@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');


//Colors
$beige: #E9E6D6;
$white: #FFFFFF;
$greyWhite: #F2F2F2;
$textColor: #000000;

$hoverLink: #666666;
$hoverButton: #d2cdac;
$activeButton: #b8ae7a;

$errorMessageColor: #CC0000;
$succeccMessageColor: #009933;

//Fonts
$headingFont: 'Abel', sans-serif;
$textFont: 'Libre Franklin', sans-serif;
