@import "./global.scss";

.exerciseCardContainer {
    margin: 2rem 0rem 5rem 0rem;
    padding: 0rem 1.5rem;

    .backButton {
        background-color: $beige;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        font-family: $textFont;
        text-decoration: none;
        color: $textColor;
        cursor: pointer;

        &:hover {
            background-color: $hoverButton;                   
        }

        &:active {
            background-color: $activeButton;
            color: $white;
        }
    }

    .exerciseContainerContent {
        .card {
            display: block;
            border: 1px solid black;
            border-radius: 7px;
            padding: 1rem 2rem;
            width: fit-content;
            text-align: center;
            margin: 2rem auto 2rem auto;
            background-color: $beige;
            cursor: pointer;
            box-shadow: 5px 8px 10px #999;
            text-decoration: none;
            color: $textColor;
            font-size: 2rem;
            font-family: $textFont;
    
            &:hover {
                background-color: $hoverButton;
            }
            &:active {
                background-color: $activeButton;
                color: $white;
            }
        }
    }
}


// ----------------------- TABLET -------------------------------
@media only screen and (min-width: 700px) {
    .exerciseCardContainer {
    
        .backButton {
            padding: 0.75rem 1.25rem;
	        font-size: 1rem;
        }
    
        .exerciseContainerContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            width: 80%;
            margin: 2rem auto;
        
            .card {
                padding: 2rem 3rem;
                width: fit-content;
                margin: 2rem 1rem 2rem 1rem;
                font-size: 2.25rem;
    
            }
        }
    }
}


// ----------------------- LAPTOP -------------------------------
@media only screen and (min-width: 960px) {
    .exerciseCardContainer {
        padding: 0rem 4rem;
        
        .exerciseContainerContent {
            width: 90%;

            .card {
                margin: 2rem 1rem 2rem 1rem;
            }
        }
    }  
}
