@import "./global.scss";

.heroWebshop {
    width: 100%;
    height: auto;
}

.webshopContainer {
    position: relative;
    margin: 2rem 0rem 5rem 0rem;
    padding: 0rem 1.5rem;
    
    h2 {
        font-family: $headingFont;
        font-size: 1.5rem;
    }

    .cartSection {
        position: -webkit-sticky;
        position: sticky;
        top: 1rem;
        right: 1rem;
        float: right;
        z-index: 1000;
        cursor: pointer;
        background-color: $beige;
        padding: 0.25rem;
        border-radius: 5px;       
        font-family: $textFont;
        text-decoration: none;

        &:hover {
            background-color: $hoverButton;
        }

        &:active {
            background-color: $activeButton;
        }

        .cartLink {
            text-decoration: none;

            .iconAndNumber {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            #numberInCart {
                color: $textColor;
                display: inline-block;
                margin-left: 2px;
                width: 1rem;
                text-align: center;
                border: 1px solid black;
                border-radius: 50%;
                padding: 4px;
                font-size: 0.75rem;
            }
        
            .animateCartNumber {
                animation-name: animateNumber;
                animation-duration: 1s;
                
            }
            
            @keyframes animateNumber {
                from {background-color: $beige;}
                to {background-color: $activeButton;}
            }
    
            .sum {
                margin: 3px 0px 0px 0px;
                color: $textColor;              
                font-size: 0.75rem;
            }
        }       
    }

    .productContainer{

        h3 {
            font-size: 1rem;
            font-family: $headingFont;
            margin: 1.5rem 0rem 2rem 0rem;
        }
    }
    
    hr.hr {
       border-top: 1px solid grey;
       width: 90%;
    }
}


// ----------------------- TABLET -------------------------------
@media only screen and (min-width: 700px) {
    .webshopContainer {
        
        .cartSection {
            padding: 0.75rem;

            .cartLink {
                .sum {
                    font-size: 1rem;
                }
            }
        }

        .productContainer{
            margin-top: 7rem;
            
            h3 {
                font-size: 1rem;
                font-family: $headingFont;
                margin: 1.5rem 0rem 2rem 0rem;
            }

            .products {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 90%;
                margin: 0px auto;
            }
        }
    }

}


// ----------------------- LAPTOP -------------------------------
@media only screen and (min-width: 960px) {
    .webshopContainer {
        padding: 0rem 4rem;

        h2 {
            font-size: 2rem;
        }

        .productContainer{ 
            
            h3 {
                font-size: 1.5rem;
            }
        }
    }
}  



// ----------------------- BIG SCREEN -------------------------------
@media only screen and (min-width: 1200px) {
    .webshopContainer {

        .cartSection {
            padding: 1rem;
        }

        .productContainer {
            width: 100%;
            .products {

            }
        }
    }
}